@model HotelEntity.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<h2 style="text-align:center">Admin Login</h2>
<link href="~/Content/css/loginStyle.css" rel="stylesheet" />
@using (Html.BeginForm())
{

    <div class="container-fluid" style="margin-left:21%;">
        <form action=" " method=" " class=" register-form">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.username, "User Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4 col-sm-4 col-lg-4">
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="row">
                @Html.LabelFor(model => model.password, "Password", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4 col-sm-4 col-lg-4">

                    @Html.EditorFor(model => model.password, "password", new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div style="margin-left:21%;color:red">@ViewData["error"]</div>
            <hr>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4">
                    <button class="btn btn-default regbutton">Login</button>

                </div>

            </div>
        </form>
    </div>

}